# ignore everything in the root except the "wp-content" directory.
/*
!/README.md
!wp-content/
!.htaccess
!.gitignore

# ignore everything in the "wp-content" directory, except:
# "themes" directory
wp-content/*
!wp-content/themes/


# don't ignore these plugins
!wp-content/plugins/keeper

# don't ignore specific themes
!wp-content/themes/twentytwentytwo/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite

# ignore font files
*.ttf
*.woff
*.woff2
wp-content/themes/youthful-hearts/footer-17Nov2022.php
wp-content/themes/youthful-hearts/page-about-us-17Nov2022.php
wp-content/themes/youthful-hearts/page-get-started-17Nov2022.php
wp-content/themes/youthful-hearts/page-home-17Nov2022.php
wp-content/themes/youthful-hearts/page-guide-t465-thank-you-17Nov2022.php
